<a href="https://colab.research.google.com/github/utkarshanand336/Data-Science-Projects/blob/main/Petrol_Consumption_Using_RandomForestRegressor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn import metrics
from sklearn.model_selection import train_test_split

In [29]:
df = pd.read_csv('/content/petrol_consumption.csv')

In [34]:
df.describe()
df.shape
df.head(40)

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
0,9.00,3571,1976,0.525,541
1,9.00,4092,1250,0.572,524
2,9.00,3865,1586,0.580,561
3,7.50,4870,2351,0.529,414
4,8.00,4399,431,0.544,410
5,10.00,5342,1333,0.571,457
6,8.00,5319,11868,0.451,344
7,8.00,5126,2138,0.553,467
8,8.00,4447,8577,0.529,464
9,7.00,4512,8507,0.552,498
10,8.00,4391,5939,0.530,580
11,7.50,5126,14186,0.525,471
12,7.00,4817,6930,0.574,525
13,7.00,4207,6580,0.545,508
14,7.00,4332,8159,0.608,566
15,7.00,4318,10340,0.586,635
16,7.00,4206,8508,0.572,603
17,7.00,3718,4725,0.540,714
18,7.00,4716,5915,0.724,865
19,8.50,4341,6010,0.677,640
20,7.00,4593,7834,0.663,649
21,8.00,4983,602,0.602,540
22,9.00,4897,2449,0.511,464
23,9.00,4258,4686,0.517,547
24,8.50,4574,2619,0.551,460
25,9.00,3721,4746,0.544,566
26,8.00,3448,5399,0.548,577
27,7.50,3846,9061,0.579,631
28,8.00,4188,5975,0.563,574
29,9.00,3601,4650,0.493,534
30,7.00,3640,6905,0.518,571
31,7.00,3333,6594,0.513,554
32,8.00,3063,6524,0.578,577
33,7.50,3357,4121,0.547,628
34,8.00,3528,3495,0.487,487
35,6.58,3802,7834,0.629,644
36,5.00,4045,17782,0.566,640
37,7.00,3897,6385,0.586,704
38,8.50,3635,3274,0.663,648
39,7.00,4345,3905,0.672,968

In [35]:
x=df.drop('Petrol_Consumption',axis=1)
y=df.Petrol_Consumption

In [ ]:
x
y

In [37]:
X_train, X_test, y_test, y_train = train_test_split(x,y, test_size=0.3, random_state= 25)

In [ ]:
X_test

In [39]:
rfr = RandomForestRegressor(n_estimators = 15, random_state = 0)
rfr.fit(X_test,y_train)
pred = rfr.predict(X_test)

In [28]:
pred

array([596.33333333, 578.13333333, 605.8       , 649.73333333,
       608.93333333, 491.4       , 614.2       , 636.2       ,
       652.53333333, 641.73333333, 614.26666667, 569.13333333,
       654.53333333, 490.93333333, 424.8       ])

In [43]:
print("Mean Absolute Error : ", metrics.mean_absolute_error(y_train,pred))
print("Mean Squared Error: ", metrics.mean_squared_error(y_train,pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_train, pred)))

Mean Absolute Error :  22.857777777777777
Mean Squared Error:  1028.1549629629633
Root Mean Squared Error: 32.06485557371128

In [46]:
metrics.r2_score(y_train, pred)

0.864959998069758

In [50]:
df=pd.DataFrame({'Actual':y_train, 'Predicted':pred})
df

    Actual   Predicted
43     591  596.333333
14     566  578.133333
40     587  605.800000
33     628  649.733333
46     610  608.933333
7      467  491.400000
32     577  614.200000
19     640  636.200000
38     648  652.533333
35     644  641.733333
30     571  614.266667
2      561  569.133333
17     714  654.533333
11     471  490.933333
6      344  424.800000